

<%= render "shared/header" %>
<div class="main-page-box">
  <%= render "shared/leftbox_2" %>
  <div class='life-contents'>
    
    <% if current_user.id == @user.id %>
      
      <div class="user-show-box">
        <h2 class='home-coming-title-1'>過去の投稿一覧</h2>
        <div class="follow-member-icon" >
          <div class="user-down-box">
            
          </div>
          <%= image_tag 'family-icon-1.png' , class: "follow-icon"%>
        </div>
        
      </div>
      
    <% else %>
      <div class='second-title'><%= @user.nick_name %>様の投稿一覧</div>
      <div class="follow-box">
        <% if current_user.following?(@user) %>
          <h1 class="follow-sentence">Thankyou!</h1>
          <%= button_to relationship_path(current_user.relationships.find_by(follower: @user.id)), method: :delete, class: "follow-btn" do %>
            <%= image_tag 'follow.png' , class: "follow-icon"%>
          <% end %>
        <% else %>
          <h1 class="follow-sentence">Follow me!</h1>
          <%= button_to relationships_path(follower: @user), class: "follow-btn" do %>
            <%= image_tag 'unfollow.png' , class: "follow-icon"%>
          <% end %>
        <% end %>
      </div>
    <% end %>




    <%= render "shared/show_life" %>

    <% if current_user.id == @user.id %>
      <div class="lanking">
        <%= current_user.nick_name %>様の悩みで共感が多かった悩み
      </div>
    <% else %>
      <div class="lanking">
        <%= @user.nick_name %>様の多くの共感を得た悩み
      </div>
    <% end %>


    <%= render "shared/lanking" %>

    

    


  </div>

</div>


<%= link_to(new_life_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'></span>
  <%= image_tag 'new-life.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

