
<header class='top-page-header'>
    <%= link_to("/", class: "apri-title") do %>
      <%= image_tag 'main-icon.png' , size: '25x25', class: "down-times-icon" %>
      <h1>Life count</h1>
      <%= image_tag 'main-icon.png' , size: '25x25', class: "up-times-icon" %>
    <% end %> 
 

  <div class='nav'>
   

    <ul class='lists-right'>
      <% if user_signed_in? %>
       <li><%= link_to current_user.nick_name, "/users/#{current_user.id}", class: "user-nickname" %></li> 
       <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>

      <% end %>
    </ul>
  </div>
</header>