<%= render 'shared/header' %>
<div class="caution-space">
  <div class="caution-sentence">
     <div class="caution-box">
      <%= image_tag 'comment-1.png' , size: '185x185', class: "caution-caracter" %>
      <div class="caution-left">
        <h1>投稿に関して<h1>
        <h3>当アプリでは「もうあいつムカつく！！」や「死ね！！！」というような言葉自体に制限はありませんが
        「〇〇学校の〇〇君」や「〇〇会社の営業部長」など第三者から特定できるような個人や団体を対象とした投稿に関しては禁止となっております。</h3>
      </div>
    </div>
    <div class="caution-box">
      <%= image_tag 'comment.png' , size: '185x185', class: "caution-caracter" %>
      <div class="caution-left">
        <h1>コメントに関して</h1>
        <h3>「自分の悩みを人目を気にせず投稿する」というのがコンセプトの一つとしてございます。
        そのため悩みの投稿に関しての暴言はもちろんのこと「そんなことで悩んでちゃキリないよ」や「みんなはもっと大変だよ」といった投稿主の気力をさらに削ぎ落とすようなコメントはお控えください。</h3>
      </div>
    </div>
    <div class="caution-box">
      <%= image_tag 'sorry.png' , size: '185x185', class: "caution-caracter" %>
      <div class="caution-left">
        <h1>最後に</h1>
        <h3>上記２つの禁止事項は全てのユーザーに快適に同アプリを使用して頂くためのルールです。</h3>
        <h3>上記以外にも運営側が問題だと感じた投稿やユーザーに関してはアカウント削除の対応を取ることもございます故あらかじめご了承ください。</h3>
      </div>
    </div>
  </div>
</div>
<%= render "shared/putsicon"%>