<%= render "shared/header"%>
<div class="help">
  <div class="help-box">
    <%= image_tag 'help.png' , size: '140x160', class: "help-image" %>
    <div class="help-title">Life Countの使い方</div>
    <h3>投稿 ：悩みを投稿したい場合は画面右下のボタンをクリックすると可能です。</h3 >
    <h3>閲覧 ：左の検索ボタンでカテゴリーを検索したり、直接キーワードを検索フォームから入力することで他者を含めた皆様の悩みを閲覧ですます。
    <h3>共感 ：投稿の詳細画面のmee too!のボタンをクリックすることで相手に同じ悩みがあることを伝えられます。</h3>
    <h3>フォロー ：投稿の詳細画面にて投稿者の名前をクリックすることで投稿者のページへ飛べます。その後画面右上にございますハートのアイコンをクリックすることでフォローが可能となっております。</h3>

  </div>
  <div class="help-box">
    <%= image_tag 'caution.png' , size: '185x185', class: "help-image" %>
    <div class="help-title">約束事項</div>
    <h2>当アプリをご使用いただくにあたってご注意頂きたいことがいくつかございます。</h2>
    <h3>① 特定の人物への誹謗中傷はお控えください</h3>
    <h3>当アプリは自由に匿名で悩みを打ち明ける環境となっております。そのため暴言などは比較的許容されておりますが、第三者にわかる様に相手を特定されている場合は禁止となっておりますゆえご了承ください。<%=link_to '詳しくはこちら', caution_path, class: "help-pass" %></h3>
    <h3>② 著作権が該当されるような文章の投稿はお控えください。</h3>
    <h3>当アプリは文章のみの投稿になるため比較的自由に利用して頂けますが、著作権に該当するような文章（小説など）の貼り付けなどは民事訴訟に発展することもございますゆえ禁止されております。</h3>
  </div>
</div>

<%= render "shared/putsicon"%>