<% @lives = Life.all %>
<%= render "shared/header" %>

<div class="main-page-box">
  <%= render "shared/leftbox" %>
  <div class='item-contents'>
    <h2 class='new-life-title'>最近の仕事関係の悩み</h2>
    <div class='item-lists'>

      <% @lives.each do |life| %>
        <% if life.tired_id == 3 %>
          <div class='item-img-content-2'>
            <%= link_to life_path(life.id) do %>
              <div class="life-title-content">
                <div class="tired-name">種類</div><%= life.tired.name%>
              </div>
              <div class='life-title-content'>
                <div class="tired-name">季節</div><%= life.month.name %>
              </div>
              <div class="created">
                <div class="c-1"><%= image_tag 'work.png' , size: '30x30' %></div>
                <%= time_ago_in_words(life.created_at) %>前
              </div>
            <% end %>
            <div class='item-img-content-2-z hidden' >
              <%= link_to life_path(life.id) do %>
                <div class="life-title-content-z">
                  <div class="tired-name">悩み</div><%= life.bad_thing %>
                </div>
                <div class="life-title-content-z">
                  <div class="tired-name">感謝</div><%= life.hope%>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
          
      <% end %>
      
    </div>
  </div>
</div>
<%= render "shared/putsicon"%>